.authContainer{
    
    background-color: silver;
}
.authImage{
    height: 100vh;
    width: 100%;
    background-image: url('../../images/date.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.formColumn{
    width: 100%;
    height: 100vh;
    padding: 5rem 5rem 0 0;
    background: rgb(56,23,23);
    background: linear-gradient(151deg, rgba(56,23,23,1) 0%, rgba(188,78,78,1) 100%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.switchAuth{
    margin-top: 4rem;
    color: white;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
}
.authTitle{
    color: white;
    margin-bottom: 5rem;
}

