//General
.invalid {
    color: darkcyan
}

//Auth
.authContainer{
    
    background-color: silver;
}
.authImage{
    background-image: url('../../images/date.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.formColumn{
    width: 100%;
    min-height: 100vh;
    padding: 5rem 5rem 0 0;
    background: rgb(56,23,23);
    background: linear-gradient(151deg, rgba(56,23,23,1) 0%, rgba(188,78,78,1) 100%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.switchAuth{
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: white;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.4);
    padding: 1rem;
}
.authTitle{
    color: white;
    margin-bottom: 5rem;
}
.linkBtn{
    color: darkcyan ;
    background-color: transparent ;
    font-size: 20px ;
    border: none;
    cursor: pointer;
}
.linkBtn:hover{
   color: darkcyan;
   opacity: 0.6;
}

//AccountStart
.startContainer{
    min-height: 100vh;
    background: rgb(56,23,23);
    background: linear-gradient(151deg, rgba(56,23,23,1) 0%, rgba(188,78,78,1) 100%);

}
.titleBox{
    height: 10vh;
    background-color:rgba(56,23,23,1);
    color: rgb(255, 173, 173);
    font-size: 52px;
    padding-left: 2rem;
}

//Home
.heroContainer{
    background: linear-gradient(180deg, rgb(44, 29, 29) 0%, rgb(34, 21, 21) 27%, rgb(170, 168, 168) 100%);
    box-shadow: 0px 10px 10px 5px #868484;
}
.heroText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
        font-size: 56px;
        color: #f05151;
        font-weight: 700;
        
        span {
            color: white;
            font-weight: 400;
            font-style: italic;
            border-bottom: 2px solid gold;
            text-transform: uppercase;
        }
    }
}

.loveImg{
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .heroText {
      justify-content: center;
      align-items: center;
      h1 {
          font-size: 30px;
          font-weight: 400;
      }
    }
    .loveImg {
        width: 75%;
    }
}
//Profile
.updateRow{
    padding: 0.11rem 0.11rem;
    background: lightpink;
 
    
}
.formCol{
    
    padding: 0px;
}
.imgColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: #fff6f6;

}

.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    background: #fff6f6;
    min-height: 40rem;
}
.avatarDiv{
    width: 150px;
    height: 150px;
    margin-left: 10px;
    box-shadow: 1px 1px 2px 2px rgba(245, 245, 245, 0.5);
    border-radius: 5px;
    section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.15)
    }
    p {
        padding: 0;
        margin:0px 5px;
        color: linen;
    }
    

}
@media(min-width: 983px) and (max-width: 1490px) {
  .images {
    display: flex;
    flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  }
}
@media(max-width: 580px) {
    .images {
      display: flex;
      flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
  }
.uploadModal{
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: darkred;
}
@media (max-width: 768px) {
  .uploadModal {
    width: 100%;
    height: 20em;
  }
}

.uploadSection{
   width: 100%;
   max-height: 39em;
   position: relative;
   background: white;
}

.toggleBtn{
    width: 100%;
    padding: 20px 10px;
    button{
        width: 60px;
        height: 60px;
        border-radius: 50% !important;
        background: rgb(56,23,23);
        background: linear-gradient(151deg, rgba(56,23,23,1) 0%, rgba(188,78,78,1) 100%);
        color: white !important;
    }
    button:hover{
        background: linear-gradient(120deg, rgba(56,23,23,1) 0%, rgba(188,78,78,1) 100%);
        opacity: 0.8;
    
    }
}


//ProfileDisplay
.pdMain{
    background-color: #faf6f6;
}
.descCol{

    
}
.descriptor{
    width: 100%;
    padding: 1em;
    background: lightpink;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    h4{
        font-size: 22px;
        color: darkslategray;
        font-weight: 200;
        padding: 10px;
        border-bottom: 1px double rgba(188,78,78,1);
    }

    p{
        font-size: 22px;
        color: rgb(27, 27, 27);
        font-weight: 200;
        padding: 10px;
        text-align: center;
        width: 100%;
    }
}
.connectionStatus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: '4rem';
    background: #ffd3d3
}
.eachStat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: '100%';
    h5 {
        color: darkslategray;
        padding: 5px;
        font-weight: 500;
    }
}

// SearchUsers.js page

.searchRoot {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.sortOptions{
    width: 100%;
    padding: 10px;
    background: #f1f1f1;
    min-height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 3px double darkslategray;

    h2 {
        width: 100%;
        text-align: center;
        font-weight: 100;
        padding: 5px;
        background: silver;
        color: darkslategray;
    }
}
.searchBtn{
    width: 100%;
    padding: 10px; 
    text-align: center;
}

//Connections,js

.modalContent{
    width: 100%;
    text-align: center;
    background-color: "silver";
    h1 {
        text-transform: uppercase;
        color: black;
       
        width: 100%;
        padding: 5px;
    }
    h4{
        color: darkred;
        width: 100%;
        padding: 5px;
    }
}
.modalItem{
    background: slategrey !important;
    color: whitesmoke !important;
    text-align: center !important;
    letter-spacing: 1.5px !important;
    margin: 5px !important;
}
.modalItem:hover {
    opacity: 0.8;
}
.modalItemA{
    background: steelblue !important;
    color: lightblue !important;
    text-align: right !important;
    letter-spacing: 1.5px !important;
    margin: 5px !important;
}
.modalItemA:hover {
    opacity: 0.8;
}
.modalItemB{
    background: #bc4e4e !important;
    color: #fababa !important;
    text-align: right !important;
    letter-spacing: 1.5px !important;
    margin: 5px !important;
}
.modalItemB:hover {
    opacity: 0.8;
}
.connectionListBox{
    // background-image: url('../../images/paris.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    min-height: 25em;
    box-shadow: 1px 1px 2px 2px grey;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    background: white;
  
}
.inviteListBox {
    // background-image: url('../../images/paris.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: top;
    min-height: 25em;
    box-shadow: 1px 1px 2px 2px grey;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.conrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
   
}
.manageBtn{
    cursor: pointer;
    margin: 1rem 2rem;
    padding: 5px 5px;
    background: rgb(219, 217, 217);
    align-self: flex-start;
    border-radius: 7px;
    box-shadow: 0px 2px 1px 3px lightgray;
    border: 1px solid transparent;
    img {
        width: 40px;
        height: 40px;
    }
}
.manageBtn:hover{
    opacity: 0.8;
   background: rgba(163, 36, 36, 0.2) ;
   box-shadow: 0px 1px 1px 1px lightgray;
   border: none;
   border: 1px solid transparent;

}
.connectModalX{
    color: darkslategray !important;
}
.connectModalX:hover{
    background-color: rgb(202, 202, 202) !important;
    opacity: 0.8;
}
.managedConnections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 15px;
    width: 95%;
    background: whitesmoke;
    margin: 20px 0px;
    

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        img {
            width:80px;
            height: 80px;
            object-fit: cover;
            object-position: center;
            border: 1px solid transparent;
            border-radius: 50%;
            box-shadow: 1px 3px 3px 2px slategrey;
        }

        p {
            margin: 0px;
            padding: 0px;
            color: slategray;

            span {
                color: darkred;
                font-size: 14px;
            }
        }
        button:hover {
            background: rgb(221, 246, 255);
        }
    }
}
.removeBtn{
    color: rgb(255, 38, 0) !important;
    margin: 10px 5px;
}
.removeBtn:hover{
    background-color: rgba(250, 171, 157, 0.3) !important;
}