.updateRow{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.imgColumn{
    justify-content: center;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.uploadSection{
    width: 95%;
    align-items: center;
}

.toggleBtn{
   border-radius: 50% !important;
   background-color: #c96464 !important;
   color: white !important;

}