.descCol{
   padding: 0;
}
.descriptor{
    width: 100%;
    padding: 1em;
    background: linen;
   
    h4{
        font-size: 30px;
        color: #fd7c7c;
        font-weight: 400;
        padding: 10px;
        background: darkslategrey;
    }

    p{
        font-size: 22px;
        color: darkslategrey;
        font-weight: 200;
        padding: 10px;
        text-align: center;
        width: 100%;
    }
}