//Edit Account
.accountForm{
    padding: 0.5rem;
    width: 100%;
  

}

.textArea{
 width: 100%;
 padding: 10px;
 background-color: rgba(188,78,78, 0.5)  !important;
 color: rgb(77, 0, 0)  !important;
 border: none !important;
 border-bottom: 1px solid rgb(117, 9, 9) !important;
}
.textAreaB{
    padding: 10px;
    width: 100%;
    background:transparent;
    border: none !important;
    color: #460c0c !important;
    font-weight: 700;
}
.formLabel{
    font-size: 24px;
    color: darkslategray;
    padding: 0.2rem;
    border-bottom: 1px solid darkslategray;
    
}
.formInput{
    background-color: rgba(188,78,78, 0.5)  !important;
    color: rgb(77, 0, 0)  !important;
    border: none !important;
    border-bottom: 1px solid rgb(117, 9, 9) !important;
    
 
}
.formInput:focus{
    box-shadow: inset 0 -1px 0 rgb(167, 97, 97) !important;
}
.formInputB{
    background-color: transparent!important;
    color: #470000 !important;
    border: none !important;
    border-bottom: 1px solid transparent !important;
    font-size: 23px !important;
    font-weight: 700;
 
}
.inputGroup{
    width: 100%;
    background: whitesmoke;
}
.subBtn{
    border-radius: 0px !important;
    background: rgb(56,23,23);
    background: linear-gradient(151deg, rgba(56,23,23,1) 0%, rgba(188,78,78,1) 100%);
}
.subBtn:hover{    
    background: linear-gradient(120deg, rgba(56,23,23,1) 0%, rgba(188,78,78,1) 100%);
    opacity: 0.8;

}

//Upload Form
.uploadForm{
    width: 80%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(188,78,78,.7);
    border: 1px solid rgba(188,78,78,.7);

    input {
        background: #fff6f6;
    }

}
.formLabelB{
    font-size: 24px;
    color: white;
    margin-left: 1rem;
    font-weight: 700;
   
}
.uploadInput{
    width: 100%;
}

.imgDisplay{
    height: 15rem;
    width: 18rem;
    margin-top: 2px;
    background: darkslategray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.uploadedImg{
    width: 18rem;
    height: 15rem;
    object-fit: cover;
}
.inputStyle{
    width: 100% !important;
}

.uploadContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(188,78,78,1);
    padding: 0.5rem;
   
  
}