//Form One
.mainRow{
    background-color:rgba(56,23,23,0.2);
    padding: 2rem;
    
}
.imgCol{
    height: 80vh;
    background-image: url('../../../images/joinus.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.formCol{
    padding: 1rem;
    color: whitesmoke;
}
.accountForm{
    width: 70%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.formLabel{
    font-size: 24px;
    color: rgb(253, 124, 124);
   
}
.textArea{
 width: 100%;
}

//Form Two

.formColmn{
    padding: 1rem;
    color: whitesmoke;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}
.uploadForm{
    width: 70%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

}
.uploadInput{
    width: 100%;
    background-color:black 
}

.imgDisplay{
    height: 15rem;
    width: 18rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: transparentize($color: #943a3a, $amount: 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  
}
.uploadedImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.inputStyle{
    width: 100% !important;
}