.uploadForm{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(188,78,78,.7);
    border: 1px solid rgba(188,78,78,.7);

}
.formLabel{
    font-size: 24px;
    color: darkslategray;
   
}
.uploadInput{
    width: 100%;
}

.imgDisplay{
    height: 15rem;
    width: 18rem;
    margin-top: 2px;
    background: darkslategray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.uploadedImg{
    width: 18rem;
    height: 15rem;
    object-fit: cover;
}
.inputStyle{
    width: 100% !important;
}

.uploadContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
  
}