//Template

  
.main {
    background: #fff6f6;
    width: 100% !important;
    padding: 0 !important;
   }
header[role="banner"] {
  width: 100%;
  padding: 0px 10px;
   background-color:  rgba(163, 36, 36, 0.5);
    #logoMain {
      display: block;
      margin: 0px auto;
    }
    .logout{
        display: block;
        margin: 0px auto;
        font-size: 20px;
        color: white;
        cursor: pointer;
        color: darkcyan;
        float:right;
      }
      .logout:hover {
          opacity: 0.8;
          border-bottom: 1px solid darkcyan;
      }
}
.footer {
    width: 100%;
    min-height: 10em;
    background-color:  rgba(163, 36, 36, 0.5);
}

// Invitations component
.invitationContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 12rem;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 10px 10px 15px rgba(255, 255, 255, 0.5);
}

.invitationImgBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
    color: rgb(100, 29, 29);
    cursor: pointer;

}
.invitationImgBox:hover{
    opacity: 0.8;   
}
.invitationImg{
    width: 7rem; 
    height: 7rem; 
    border: 2px solid rgb(243, 76, 76);
    border-radius: 50%;
    object-fit: cover;
}

.placeholderBox{
    h1{
        font-size: 38px;
    }
}
.placeholderIcon{
    width: 7rem;
    height: 7rem;
    
}
@media (max-width: 700px) {
    .placeholderIcon {
        width: 2.8rem;
        height: 2.8rem;
        margin-right: 0.5rem;
    }
    .placeholderBox{
        justify-content: center;
        h1{
            font-size: 22px;
        }
    }
  }

// connectionList

.connectBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 12rem;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 10px 10px 15px rgba(255, 255, 255, 0.5);
}
.connectAvatar{
    width: 10rem; 
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(243, 76, 76);
}
.connectImgDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    

    p {
        font-weight: 100;
        color: darkred;
        letter-spacing: 1.5px;
    }
}
.connectImgDiv:hover{
    opacity: 0.8;
    cursor: pointer;
}

// Chat display list

.chatDisplayRow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
.chatDisplayCol{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 40em;
    background: #dbdbdb;
}
.chatDisplayImg{
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 5x 3px silver;
   
}
.chatDisplayImg:hover{
    opacity: 0.8
}
.chatBox {
    overflow-y: auto;
    width: 100%;
    height: 90%;
    background-color: #f1f1f1;
}
.userAmsg{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0.5rem;

    p{
        padding: 5px 15px;
        border-radius: 20px;
        color: white;
        font-size: 20px;
        background-color: #329299d0;
        max-width: 75%;
        min-width: 15%;
        margin: 5px;
    }
    h6 {
        font-size: 10px;
        color: grey; 
        font-weight: 100;
        margin: 0px 5px;
    }
}
.userBmsg{
    margin-top: 0.5rem;
    background: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    p{
        font-size: 20px;
        background-color: #c02525da;
        padding: 5px 15px;
        border-radius: 20px;
        color: #f1f1f1;
        max-width: 75%;
        min-width: 15%;
        margin: 5px;
    }
    h6 {
        font-size: 10px;
        color: grey; 
        font-weight: 100;
        margin: 0px 5px;
    }
}
.chatUserImages{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
//ChatInput

.chatInput{
    width: 100%!important;
    font-size: 20px!important;
}
.chatFormRow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}
.chatFormCol{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: darkslategray;
    padding: 1em;
    border-radius: 10%;
}
.inputGroup{
    width: 100%;
}
.chatForm{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5em;
}

//Image
.caption{
    opacity: 1;
    height: 30px;
    font-size: 15px;
    font-weight: 300;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.1rem;
    width: 100%;
    z-index: 200;
    position: absolute;
    margin-top: 60%;
}
.imageCard {
    width: 17rem;
    height: 20rem;
    margin: 0.2rem;
    background:#fff6f6 !important;
    border: 1px solid transparent !important;
    p {
        display: none;
    }
    button {
        display:none;
    }
}

.imageCard:hover{
    button {
        display:block;
    }

    p {
        display: block;
    }
}
@media (max-width: 880px) {
  .imageCard {
      width: 15rem;
      margin: 0.1rem;
      height: 18rem;
      justify-self: center;
  }
  .cardImg {
      height: 55%;
  }
  .caption {
      margin-top: 65%;
  }
}
@media (max-width: 480px) {
    .imageCard {
        width: 100%;
        margin: 0.1rem;
        height: 25rem;
    }
    .cardImg {
        height: 50%;
    }
    .caption {
        margin-top:0.1rem;
    }
  }
.cardImg{
    width: 100%;
    height: 65%;
    object-fit: cover;
}
.iconBtn{
    height:40px!important;
    width: 40px!important;
    padding: 10px !important;
    background: rgb(126, 231, 231)!important;
    border-radius: 50% !important;
}
.iconBtn:hover {
    opacity: 0.8;
}
.delBtn {
    height:40px!important;
    width: 40px!important;
    padding: 10px !important;
    background: rgb(214, 133, 133)!important;
    border-radius: 50% !important;
}
.delBtn:hover{
    opacity: 0.8;
}
.iconComment{
    width: 100%;
    height: 22px;
    margin-bottom: 6px;
    font-weight: 600;
    text-align: start;
    color:darkcyan;
}
.iconCommentSuccess{
    width: 100%;
    height: 22px;
    margin-bottom: 6px;
    font-weight: 600;
    color: rgb(34, 148, 34);
}

.iconCommentFail{
    width: 100%;
    height: 22px;
    margin-bottom: 6px;
    font-weight: 600;
    text-align: end;
    color: rgb(148, 34, 34);
}

//userListRow.js
.userElement{
    width: 100%; 
    height: 12rem;
    padding: 15px 30px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 2px solid darkred;
    cursor: pointer;
}
.userElement:hover {
    background: whitesmoke;
}
.userElAvatar{
    width: 10rem;
    height: 100%;
    background: grey;
    border-radius: .5rem;
    overflow: hidden;
    
}
.userElTxt{
    max-width: 70%;
    padding: 0px 15px;
    h1 {
        font-size: 32px;
        color: darkred;

        span {
            font-size: 24px;
            font-weight: 100;
            font-style: italic;
        }
    }
    p{
        font-size: 17px;
        color: darkslategray;
    }
    h5 {
        font-size: 18px;
        color: silver;
        font-style: italic;
    }
}
@media (max-width: 992px) {
    .userElement {
        padding: 5px 8px;
        height: 15rem;
        margin-top: 1rem;
        box-shadow: 1px 1px 1px 2px silver;

    }
  }
  @media (max-width: 762px) {
    .userElement {
        padding: 5px 8px;
        height: 30rem;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 1rem;
        box-shadow: 1px 1px 1px 2px silver;

    }
    .userElAvatar{
        width: 100%;
        height: 55%;
    }
    .userElTxt{
        margin-top: 0.3rem;
        h1 {
            font-size: 24px;
            span {
                font-size: 16px;
            }
        }
    }
  }
  @media (max-width: 480px) {
    .userElement {
        padding: 2px;
        height: 22rem;
    }
    .userElAvatar{
        width: 100%;
        height: 45%;
    }
}

