//Template
.main {
    background: #fff0f0;
    margin: 0;
   }
   header[role="banner"] {
     width: 100%;
      background-color:  rgba(163, 36, 36, 0.5);
       #logoMain {
         display: block;
         margin: 0px auto;
       }
     }

// Invitations component
.invitationContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 12rem;
}
.invitationImgBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
    color: rgb(100, 29, 29);
    cursor: pointer;

}
.invitationImgBox:hover{
    opacity: 0.8;   
}
.invitationImg{
    width: 7rem; 
    height: 7rem; 
    border: 2px solid rgb(243, 76, 76);
    border-radius: 50%;
    object-fit: cover;
}

.invitationBtnBox{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.invitationAccept{
    height: 1.5rem;
    width: 50%;
    background-color: snow;
    color: rgb(109, 182, 127);
    text-align: center;
    cursor: pointer;
}
.invitationAccept:hover{
    opacity: 0.8;
}

.invitationDecline{
    height: 1.5rem;
    width: 50%;
    background-color: snow;
    color: rgb(243, 76, 76);
    text-align: center;
    cursor: pointer;
}
.invitationDecline:hover{
    opacity: 0.8;
}
.placeholderIcon{
    width: 7rem;
    height: 7rem;
    margin-right: 2rem;
}

// connectionList

.connectBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 15rem;
}
.connectAvatar{
    width: 10rem; 
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(243, 76, 76);
}
.connectImgDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Chat display list

.chatDisplayRow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
.chatDisplayCol{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 40em;
    background: #dbdbdb;
}
.chatDisplayImg{
    height: 7rem;
    width: 7rem;
    object-fit: cover;
   
}
.chatBox {
    overflow-y: auto;
    width: 100%;
    height: 90%;
    background-color: #f1f1f1;
}
.userAmsg{
    font-size: 24px;
    color: #14146d;
    width: 100%;
    text-align: left;
}
.userBmsg{
    font-size: 24px;
    color: #a00000;
    width: 100%;
    text-align: right;
}
.chatUserImages{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
//ChatInput

.chatInput{
    width: 100%!important;
    font-size: 20px!important;
}
.chatFormRow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}
.chatFormCol{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: darkslategray;
    padding: 1em;
    border-radius: 10%;
}
.inputGroup{
    width: 100%;
}
.chatForm{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5em;
}

//Image

.imageCard {
    width: 28%;
    height: 23rem;
    margin: 0.5rem;
    background:#fff6f6 !important;
    border: 1px solid transparent !important;
    p {
        opacity: 1;
        min-height: 22px;
        font-size:18px;
        font-weight: 300;
        color: darkslategrey;
        background: rgba(163, 36, 36, 0.5);
        width: 100%;
    }
    button {
        display:none;
    }
}

.imageCard:hover{
    border:1px dotted silver !important;
    button {
        display:block;
    }
}
.cardImg{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.iconBtn{
    height:40px!important;
    width: 40px!important;
    padding: 10px !important;
    background: rgb(126, 231, 231)!important;
    border-radius: 50% !important;
}
.iconBtn:hover {
    opacity: 0.8;
}
.delBtn {
    height:40px!important;
    width: 40px!important;
    padding: 10px !important;
    background: rgb(214, 133, 133)!important;
    border-radius: 50% !important;
}
.delBtn:hover{
    opacity: 0.8;
}
.iconComment{
    width: 100%;
    height: 22px;
    margin-bottom: 6px;
    color:darkcyan;
}
.iconCommentSuccess{
    width: 100%;
    height: 22px;
    margin-bottom: 6px;
    font-weight: 600;
    color: rgb(34, 148, 34);
}

.iconCommentFail{
    width: 100%;
    height: 22px;
    margin-bottom: 6px;
    font-weight: 600;
    color: rgb(148, 34, 34);
}