.imageCard {
    width: 28%;
    height: 23rem;
    margin: 0.5rem;
    background:white !important;
}
.cardImg{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.imgCaption{
    min-height: 30px;
    font-weight: 200;
    color: rgb(187, 61, 61);
}